@using VOSA_Events.Pages.Shared.Components.LoginMenu;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="bootstrap">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <script src="~/js/site.js" asp-append-version="true" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header>
        <div class="topnav" id="myTopnav">

            

            <div id="navBkg">
                <a href="/index" class="active" id="home"><i class="fa fa-home"></i></a>
                <a href="/admin">Admin</a>
                <a href="/cart">Varukorg</a>
                <a href="/myEvents">Mina sidor</a>


                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>

                <div id="loginForm">
                    <environment names="Development">
                        @await Component.InvokeAsync(nameof(FakeLoginMenu))
                    </environment>
                </div>

@*                 <h1 id="vosaEventTitle">VOSA EVENTS</h1> *@
            </div>



        </div>
    </header>
    <main>
        @RenderBody()
    </main>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>