@page
@inject VOSA_Events.Data.AccessControl accessControl

@model VOSA_Events.Pages.OrderConfirmationModel
@{
}

<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>
<body>

    <main>
        <section class="order-container">
            <div id="confirmation-message"></div>
            <h2>Tack!</h2>
            <h3>Dina biljetter är nu bokade.</h3>
            <p>Total summa: @Model.TotalPrice SEK</p>

            <button class="return-button">
                <a asp-page="./Index">Återgå till startsidan</a>
            </button>
        </section>
    </main>

</body>
</html>
