@page
@model VOSA_Events.Pages.ReviewModel
@inject VOSA_Events.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Review Page";
}

<div id="review-page">

    <div class="leave-review-section">

        <h2>Lämna din recension här:</h2>
        <form method="post">
            <div>
                <label for="reviewText">Vad tyckte du om evenemanget?:</label>
                <textarea id="reviewText" name="reviewText" rows="4" cols="50"></textarea>
            </div>

            <div>
                <p>Hur många stjärnor får detta evenemang?:</p>
                <label for="rating1">
                    <input type="radio" id="rating1" name="rating" value="1">
                </label>
                <label for="rating2">
                    <input type="radio" id="rating2" name="rating" value="2">
                </label>
                <label for="rating3">
                    <input type="radio" id="rating3" name="rating" value="3">
                </label>
                <label for="rating4">
                    <input type="radio" id="rating4" name="rating" value="4">
                </label>
                <label for="rating5">
                    <input type="radio" id="rating5" name="rating" value="5">
                </label>
            </div>

            <button type="submit" class="review-button">Submit Review</button>
        </form>
    </div>

</div>