@using VOSA_Events.Models;
@model IEnumerable<SelectListItem>;

<form method="post" asp-page="/FakeLogin">
    <label>
        Logga in som:
        <select asp-items="@Model" name="AccountID" id="account-id"></select>
    </label>
    <button type="submit">Logga in</button>
</form>