/* Layout f�r alla sidor */
body {
    background-color: #ffffff;
    color: #333333;
    overflow-x: hidden;
    background-image: url(https://cdn.vectorstock.com/i/500p/59/07/black-and-white-geometric-pattern-vector-3645907.jpg);
}

h1 {
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    color: darkgoldenrod;
    font-size: 45px;
}

h2 {
    font-size: 20px;
}

h1, h2, h3, input#searchInput, select#categorySelect, select#dateSelect, select#account-id, label {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

select#account-id, label {
    font-size: 15px;
}

p, .details-link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*---------------------------------------------------------------------------------------*/

/*Statisk navigationbar*/

.topnav {
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em;
    padding-top: 10px;
    min-width: 678px;

}

    .topnav a {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 15px;
        font-weight: bolder;
    }

    .topnav .icon {
        display: none;
    }

#home {
    font-size: 50px;
    color: goldenrod;
}

select#account-id, label {
    font-size: 15px;
    margin-left: 1em;
    margin-top: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    border-radius: 5px;
}

/*#vosaEventTitle {
    margin: 0px;
    padding: 10px;
    margin-top: 5px;
    color: goldenrod;
    font-family: "Josefin Sans", sans-serif;

}*/

#loginForm {
    font-weight: 400;
}

#navBkg {
    /* From https://css.glass */
    background: rgba(71, 110, 111, 0.73);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(71, 110, 111, 0.3);
    padding: 5px;
    border-radius: 20px;
    display: flex;
}

    #navBkg a, #loginForm {
        color: white;
        font-weight: 400;
        margin: 5px;
    }

/*---------------------------------------------------------------------------------------*/
/*IndexPage/StartPage*/
.header {
    font-weight: bold;
}

.top-container {
    display: grid;
    justify-content: center;
}

#main-container {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.73);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 2em;
    max-width: 80%;
    margin: auto;
    max-height: auto;
}

.search-form {
    margin-bottom: 20px;
}

input#searchInput, select#categorySelect, select#dateSelect {
    padding: 10px 15px;
    border-radius: 15px;
    border-width: 1px;
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 1.5em;
}

.event {
    padding: 20px;
    background-color: white;
}

.details-link {
    color: #476e6f;
    text-decoration: none;
}

.footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin: 1em;
}

#submit,
.previous-button,
.next-button, button {
    background-color: goldenrod;
    color: #ffffff;
    border: none;
    padding: 6px 15px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

#paginationBtns {
    margin: 1em;
}

/*------------------------------------------------*/

/*EventDetailsPage*/


.follow-button.followed {
    background-color: grey; /* Ändra färgen till grå när knappen är klickad */
    cursor: not-allowed; /* Ändra pekaren till en "not-allowed"-pekare när knappen är klickad */
}



/*------------------------------------------------*/


/*ReviewPage*/




/*------------------------------------------------*/

/*MyEventsPage*/




/*------------------------------------------------*/

/*CartPage*/
#shopping-cart-page {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.73);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2em;
    display: grid;
    margin: 0 auto;
    max-width: 600px;
}

.cart-title {
}


.shopping-cart {
}

.cart-item {
}

.cart-item-image {
}

.cart-total {
}

.cart-buttons {
    display: flex;
    justify-content: center;
}

form.place-order-form,
form.clear-cart-form,
form.return-to-start-form {
    padding: 5px;
}

.place-order-button {
    background-color: rgb(71 110 111);
}

.clear-cart-button {
    background-color: darkgrey;
}


/*------------------------------------------------*/

/*OrderConfirmationPage*/




/*------------------------------------------------*/
